<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1mi3i_50C7zUcWyG7n0P2lo6fSooboKI</string>
	<key>GCM_SENDER_ID</key>
	<string>40343758868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreidev.Coffee</string>
	<key>PROJECT_ID</key>
	<string>geolocoffee</string>
	<key>STORAGE_BUCKET</key>
	<string>geolocoffee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40343758868:ios:705cfc943dd68320f4df01</string>
</dict>
</plist>